In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
df_excel = pd.read_excel(io.BytesIO(upload['Master_data_excel.xlsx']))
df_excel

Saving Master_data_excel.xlsx to Master_data_excel.xlsx

,id,name,city,dept,designation,age,sport,sport score
0,A001,HARTEJ SINGH ASSI,Mumbai,sales,manager,23,cricket,56
1,A002,BHAVESH BALDANIYA,Delhi,technology,developer,35,hockey,57
2,A003,YASH BAVISHI,Delhi,production,quality controller,22,volleyball,23
3,A004,SHREEKARA BHAT,Indore,sales,assit manager,34,cricket,44
4,A005,KUNAL BHATT,Mumbai,technology,IT engg,31,cricket,56
...,...,...,...,...,...,...,...,...
85,L039,SOHAM VASUDEO,Mumbai,technology,IT engg,36,volleyball,47
86,L040,RITIKA SHETTY,Mumbai,marketing,brand manager,37,cricket,56
87,L041,RUSHABH JADHAV,Pune,production,product developer,49,cricket,68
88,L042,SAMIKSHA SARDA,Pune,sales,manager,33,cricket,79
89,L043,YASH CHAUDHARI,Indore,sales,assit manager,24,hockey,90

#Q1. What is the maximum score of an employee in each of the department?
#Q2. What is name of the employee who's age is minimum in each of the cities?
#Q3. Does all the departments have participation from employee age group between 20 to 30?
#Q4. What is the average score of an employee in each department and city?
#Q5. What is the designation of the yongest player who score highest in cricket

In [ ]:
# Pandas groupby function to analyze the data
df = df_excel.groupby("DEPT")
df

# it creates number of groups by considereing distinct department name as key vale
# and corresponding table for eack key (Name of the department)

In [ ]:
for department, dept_df in df:
  print(department)
  print(dept_df)

In [ ]:
df1 = df.get_group('sales')
df1

In [ ]:
# Q1. What is the maximum sport score of an employee in each of the department?

# How to extract single group from the groupby object - get_group('key value')

#df1 = df.get_group('sales')

#print(df1.max())

#df.max()
df.describe()
df.count()

# Group by AGE

In [ ]:
df1 = df_excel.groupby("AGE")
df1

In [ ]:
# Access and print all the subgroups using iteration
for Age, Emp_age in df1:
  print(Age)
  print(Emp_age)

In [ ]:
df1.count()

In [ ]:
# gives count of values in specifies group
df1['AGE'].value_counts()
#print(len(df1['AGE']))

In [ ]:
df2 = df1.get_group(22)
df2
print(df2.dtypes)

# Group by multiple columns

In [ ]:
df_m = df_excel.groupby(['LOCATION','DEPT']).count() # gives count in each location departments wise
print(df_m)

                     ID  NAME  AGE  Sport score
LOCATION DEPT
Delhi    marketing    2     2    2            2
         production   4     4    4            4
         sales        2     2    2            2
         technology   5     5    5            5
Hydrabad production   1     1    1            1
         sales        1     1    1            1
         technology   2     2    2            2
Indore   marketing    5     5    5            5
         production   2     2    2            2
         sales        7     7    7            7
         technology   3     3    3            3
Mumbai   marketing    8     8    8            8
         production   6     6    6            6
         sales        5     5    5            5
         technology   7     7    7            7
Nagpur   marketing    5     5    5            5
         production   2     2    2            2
         sales        3     3    3            3
         technology   2     2    2            2
Pune     marketing    3     3    3            3
         production   5     5    5            5
         sales        7     7    7            7
         technology   3     3    3            3

In [ ]:
#df_m = df_excel.groupby(['LOCATION','DEPT'])['LOCATION'].count() # gives count in each location department wise
#print(df_m)

#df_m.count()

#df_m = df_excel.groupby(['LOCATION','DEPT'])['LOCATION'].count() # gives single coumn as count in each location department wise
#print(df_m)

#df_m = df_excel.groupby(['LOCATION','DEPT'])['LOCATION'].aggregate('count') # gives single column as count in each location department wise
#print(df_m)

#df_m = df_excel.groupby(['LOCATION','DEPT'])['DEPT'].aggregate('count') # gives single column as count in each location department wise (same as above)
#print(df_m)

df_m = df_excel.groupby('LOCATION').aggregate({'DEPT':'count','AGE':['min','max']}) # Gives count on department, location wise. Minimum and Maximum from each departmet Age wise
print(df_m)

#df_m = df_excel.groupby('DEPT').aggregate({'Sport score':['min','max']})  # it gives minimum and maximum score in the department.
#print(df_m)

          DEPT AGE
         count min max
LOCATION
Delhi       13  22  49
Hydrabad     4  26  43
Indore      17  24  49
Mumbai      26  23  49
Nagpur      12  23  41
Pune        18  22  49

# Q1. What is the maximum score of an employee in each of the department?

In [ ]:
df_m = df_excel.groupby('DEPT').aggregate({'Sport score':['max'], 'AGE' : ['min']})  # it gives minimum and maximum score in the department.
print(df_m)

           Sport score AGE
                   max min
DEPT
marketing           89  24
production          97  22
sales               99  23
technology          95  26

In [ ]:
# detail discussion on aggregate function
# pandas aggregate functions perform a calculation on a set of values (grouped data) and return a single value. 
# An aggregate is a function where the values of multiple rows are grouped together to form a single summary value.
# DataFrame.aggregate(), Series.aggregate(), DataFrameGroupBy.aggregate(). are the functions 
'''
AGGREGATE FUNCTIONS	  DESCRIPTION
count()	              Returns count for each group
size()	              Returns size for each group
sum()	                Returns total sum for each group
mean()	              Returns mean for each group. Same as average()
average()	            Returns average for each group. Same as mean()
std()	                Returns standard deviation for each group
var()	                Return var for each group
sem()	                Standard error of the mean of groups
describe()	          Returns different statistics
min()	                Returns minimum value for each group
max()	                Returns maximum value for each group
first()	              Returns first value for each group
last()	              Returns last value for each group
nth()	                Returns nth value for each group
'''
data = {
  'RN':['A1','A2','A3'],
  "DAP": [59, 70, 73],
  "WT": [90, 78, 59]
}

df = pd.DataFrame(data)
df

#x = df.aggregate(["sum"])  # return a dataframe or series values
#print(x)
#print(type(x))

#x = df.aggregate('count')  # gives count of values of all the columns by default
#print(x)

#x = df.aggregate({'DAP' : 'count'}) # gives count of all the values of specific column
#print(x)

#x = df.aggregate({'DAP' : ["count",'min', 'max'], 'WT' : ['min','max']}) # gives count of values of specific column and also min max of the same column
#print(x)

In [ ]:
# Examples of aggregate function.
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","PySpark","Spark"],
    'Fee' :[20000,25000,26000,22000,24000,35000],
    'Duration':['30day','40days','35days','40days','60days','60days'],
    'Discount':[1000,2300,1200,2500,2000,2000]
              }
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000   35days      1200
3   Python  22000   40days      2500
4  PySpark  24000   60days      2000
5    Spark  35000   60days      2000

In [ ]:
# Using Aggregate Function on DataFrame
result = df[['Fee','Discount']].aggregate('sum')
print(result)

In [ ]:
# Use DataFrame.group() Function
result = df.groupby('Courses')['Fee','Discount'].aggregate('sum')
print(result)

In [ ]:
# Using groupby() and aggreaget()
result = df.groupby('Courses').aggregate('sum')
print(result)

In [ ]:
result = df[['Courses','Fee','Duration']].groupby('Courses').aggregate('sum')
print(result)

           Fee
Courses
Hadoop   26000
PySpark  49000
Python   22000
Spark    55000

# Q2: What is the name of employee who's age is minimum in each of the cities?

In [ ]:
df_m = df_excel.groupby('LOCATION')['AGE'].aggregate(['min'])  # it gives minimum and maximum score in the department.
print(df_m)
#df_m = df_excel.groupby(['LOCATION']).aggregate({'AGE':['min']})  # it gives minimum and maximum score in the department.
#print(df_m)

In [ ]:
#df_m = df_excel.groupby(['CITY']).aggregate({'AGE':['min','max']})  # it gives minimum and maximum score in the department.
#print(df_m)

#print(type(df_m))
#print(type(df_excel))

#(df_excel.groupby(['CITY']).min().loc[df_excel['NAME']])

In [ ]:
from numpy.lib.index_tricks import index_exp
df_m = df_excel.groupby(['CITY']).aggregate({'AGE':['min']})
df_m
#index = [0,1,2,3,4,5]
#df_m.index = index
#df_m

         AGE
         min
CITY
Delhi     22
Hydrabad  26
Indore    24
Mumbai    23
Nagpur    23
Pune      22

In [ ]:
index = df_m.index
index
df_m['CITY'] = df_m.index
df_m
index = [0,1,2,3,4,5]
df_m.index = index
df_m

  AGE      CITY
  min
0  22     Delhi
1  26  Hydrabad
2  24    Indore
3  23    Mumbai
4  23    Nagpur
5  22      Pune

In [ ]:
for i in range(len(df_m)):
  result = df_m.loc[i, 'CITY']
  print(result)

print(type(result))

    Delhi
Name: 0, dtype: object
    Hydrabad
Name: 1, dtype: object
    Indore
Name: 2, dtype: object
    Mumbai
Name: 3, dtype: object
    Nagpur
Name: 4, dtype: object
    Pune
Name: 5, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
print(type(df_excel['CITY']))

<class 'pandas.core.series.Series'>

In [ ]:
for i in range(len(df_m)):
  print(df_excel.loc[(df_excel['AGE'] == df_excel.loc[i,'AGE']) & (df_excel['CITY'] == df_excel.loc[i,'CITY'])])
#df_excel.loc[(df_excel['AGE'] == 49) & (df_excel['CITY'] == 'Delhi')] 

#print(x) 
#df_m

     ID               NAME    CITY   DEPT  AGE  Sport score
0  A001  HARTEJ SINGH ASSI  Mumbai  sales   23           56
     ID               NAME   CITY        DEPT  AGE  Sport score
1  A002  BHAVESH BALDANIYA  Delhi  technology   35           57
     ID          NAME   CITY        DEPT  AGE  Sport score
2  A003  YASH BAVISHI  Delhi  production   22           23
     ID            NAME    CITY   DEPT  AGE  Sport score
3  A004  SHREEKARA BHAT  Indore  sales   34           44
     ID         NAME    CITY        DEPT  AGE  Sport score
4  A005  KUNAL BHATT  Mumbai  technology   31           56
     ID            NAME    CITY        DEPT  AGE  Sport score
5  A006  DARRYL CARDOZA  Mumbai  production   26           88

In [ ]:
df_m = df_excel.groupby(['DEPT']).aggregate({'AGE':['min']})  # it gives minimum age in the department.
print(df_m)

# Q3: What is the mininum and maximum age of an employee in each department within the city?

In [ ]:
df_m = df_excel.groupby(['CITY','DEPT']).aggregate({'AGE':['min','max']})  # it gives minimum age in the department.
print(df_m)

# What is the avarage sports score of an employee in each department within the city?

In [ ]:
df_m = df_excel.groupby(['CITY','DEPT']).aggregate({'Sport score':['mean']})  # it gives average age in the department, city wise
print(df_m)

In [ ]:
df_m = df_excel.groupby(['DEPT','CITY']).aggregate({'AGE':['max']})  # it gives maximum age in the department, city wise
print(df_m)

In [ ]:
df_m = df_excel.groupby(['city','dept']).aggregate({'sport score':['mean']})  # it gives maximum age in the department, city wise
print(df_m)

In [ ]:
for emp_city, emp_dept in df_m:
  print(emp_city)
  print(emp_dept)

sport score
mean