In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
import numpy as np
list_null = ['n/a','na','None',np.nan,'NONE', 'Missing']
df = pd.read_csv(io.BytesIO(upload['Student_Data_2.txt']), sep ="\t", na_values = list_null)
df

Saving Student_Data_2.txt to Student_Data_2.txt

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2   NaN  15.0  12.0   NaN
2     A3  11.0  14.0  15.0  12.0
3     A4  17.0  13.0   NaN  15.0
4     A5  19.0  12.0   NaN  13.0
5     A6  15.0   NaN  13.0   NaN
6     A7   NaN  14.0  15.0  16.0
7     A8  10.0  11.0  13.0   NaN

In [ ]:
from google.colab import files
df.to_excel("E:\\file_name_1.xlsx",index = False) # do not include index
files.download('E:\\file_name_1.xlsx')

In [ ]:
df.isna() 
#df.isnull()

In [ ]:
print(type(np.nan))

<class 'float'>

In [ ]:
df1 = df.dropna(axis = 'index', how = 'any', inplace = False) # it returns new dataframe
df1
df

In [ ]:
df1 = df.dropna(axis = 'index', how = 'any', inplace = True)
df1

In [ ]:
df.dropna(axis = 'index', how = 'any', inplace = True) # it will apply on original dataframe
df

In [ ]:
df2 = df.dropna(axis = 0, how = 'any', inplace = False) # it drops the rows with missing bvalue 
df2

In [ ]:
df3 = df.dropna(axis = 1, how = 'any', inplace = False) # it drops the columns with missing bvalue 
df3

In [ ]:
df.dtypes       # it retrns datatypes of all the columns

Rollno     object
DAP       float64
PS        float64
WT        float64
IEM       float64
dtype: object

In [ ]:
df.info()        # it returns metadata of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rollno  8 non-null      object
 1   DAP     6 non-null      float64
 2   PS      7 non-null      float64
 3   WT      6 non-null      float64
 4   IEM     5 non-null      float64
dtypes: float64(4), object(1)
memory usage: 448.0+ bytes

# Handling mismatched datatypes

In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
import numpy as np
#list_null = ['n/a','na','None',np.nan,'NONE', 'Missing']
new_df = pd.read_csv(io.BytesIO(upload['Student_Data_1.txt']), sep ="\t")
new_df

Saving Student_Data_1.txt to Student_Data_1.txt

  Rollno  DAP  PS            WT   IEM
0     A1   12  19            13    20
1     A2   14  15            12   NaN
2     A3   11  14            15    12
3     A4   17  13       Missing    15
4     A5   19  12           NaN   NaN
5     A6   15  11            13   NaN
6     A7   17  14  less than 15    16
7     A8   10  11            13  '14'

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rollno  8 non-null      object
 1   DAP     8 non-null      int64
 2   PS      8 non-null      int64
 3   WT      7 non-null      object
 4   IEM     5 non-null      object
dtypes: int64(2), object(3)
memory usage: 448.0+ bytes

In [ ]:
new_df.dtypes

In [ ]:
#df.describe()

In [ ]:
new_df['IEM'].mean()  # try to get the mean value of the column of type string

In [ ]:
# we need to covert column to int or float type
new_df['IEM'] = new_df['IEM'].astype(int) # cannot conver NaN values to int

In [ ]:
new_df['IEM'] = new_df['IEM'].astype(float)

In [ ]:
# replace string value with int value in a column
new_df['IEM'] = new_df['IEM'].replace("'14'", 14)
new_df

  Rollno  DAP  PS            WT  IEM
0     A1   12  19            13   20
1     A2   14  15            12  NaN
2     A3   11  14            15   12
3     A4   17  13       Missing   15
4     A5   19  12           NaN  NaN
5     A6   15  11            13  NaN
6     A7   17  14  less than 15   16
7     A8   10  11            13   14

In [ ]:
new_df['IEM'].mean()

15.4

In [ ]:
new_df.mean(axis = 1)

<ipython-input-18-974b27e93386>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_df.mean(axis = 1)

0    17.000000
1    14.500000
2    12.333333
3    15.000000
4    15.500000
5    13.000000
6    15.666667
7    11.666667
dtype: float64

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rollno  8 non-null      object
 1   DAP     8 non-null      int64
 2   PS      8 non-null      int64
 3   WT      7 non-null      object
 4   IEM     5 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 448.0+ bytes

In [ ]:
new_df.shape

In [ ]:
new_df['WT'].unique() # gives all the unique values of the column

array(['13', '12', '15', 'Missing', nan, 'less than 15'], dtype=object)

In [ ]:
new_df['WT'].replace("Missing",0,inplace = True)
new_df['WT'].unique()

array(['13', '12', '15', 0, nan, 'less than 15'], dtype=object)

In [ ]:
new_df['WT'].replace("less than 15",14,inplace = True)
new_df['WT'].unique()

array(['13', '12', '15', 0, nan, 14], dtype=object)

In [ ]:
new_df['WT'].mean() # it give an error

TypeError: ignored

In [ ]:
new_df['WT'] = new_df['WT'].astype(float)
new_df['WT'].mean()

11.428571428571429