In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
df_excel = pd.read_excel(io.BytesIO(upload['Master_data_excel.xlsx']))
df_excel
#print(df_excel.to_string())
#df_csv = pd.read_csv(io.BytesIO(upload['Master_data_missing.csv']))
#df_csv
#df_tsv = pd.read_csv(io.BytesIO(upload['Master_data_tab_delimited.txt']), delimiter = "\t")
#df_tsv
#df_table = pd.read_table(io.BytesIO(upload['Master_data_tab_delimited.txt']))
#df_table

# It places of NaN in the dataframe if any value is:
  # 1. missing in the file (csv, excel, space or tab sepearted values as txt file)
  # 2. value present as "NaN" or "nan" in the file
  # 3. value presesnt as "NA" in the file

Saving Master_data_excel.xlsx to Master_data_excel.xlsx

      ID               NAME LOCATION        DEPT   AGE Sport score
0   A001  HARTEJ SINGH ASSI   Mumbai       sales  23.0          56
1   A002  BHAVESH BALDANIYA    Delhi  technology  35.0          57
2   A003                NaN    Delhi  production  22.0          23
3   A004     SHREEKARA BHAT   Indore       sales  34.0         NaN
4   A005        KUNAL BHATT   Mumbai  technology  31.0          56
..   ...                ...      ...         ...   ...         ...
85  L039      SOHAM VASUDEO   Mumbai  technology  36.0          47
86  L040      RITIKA SHETTY       na   marketing  37.0         NaN
87  L041     RUSHABH JADHAV     Pune  production  49.0          68
88  L042     SAMIKSHA SARDA     Pune         NaN  33.0          79
89  L043     YASH CHAUDHARI   Indore       sales  24.0         NaN

[90 rows x 6 columns]

In [ ]:
# treatment given by python functions when encountered with missing values in different file formats
# df_excel.isnull() # it only recognizes "NaN" as missing values in the dataframe.

# Option 1:
df = df_excel.isnull() # it returns a table of boolean values: "False" if value is correct and "True" if value is NaN
print(df)

# Option 2:

#df2 = df_excel.isna() # it returns a table of boolean values: "False" if value is correct and "True" if value is NaN
#df2

In [ ]:
# column wise null values in the dataframe
df_excel.isnull().sum()

ID              1
NAME           10
LOCATION        6
DEPT            9
AGE             2
Sport score    13
dtype: int64

In [ ]:
df_excel.isnull().sum().sum() # it gives total number of null values in the dataframe

41

In [ ]:
# getting rows with null values, we have two options:
  # option 1: any - if at least one value is null in the that row
  # option 2: all - if all the values of that row are null
# option 1:
null_data = df_excel[df_excel.isnull().any(axis=1)] # or null_data = df_excel[df_excel.isnull().any(1)]
null_data

In [ ]:
# Handling missing values with following options:

  # 1. Drop such rows or columns
  # 2. Fill missing value with python functions
  # 3. Fill missinig values with some machine learning algorithms

# Option 1: Dropping rows or columns where values are missing

In [ ]:
# dropna() - drop all the rows with null values
data_1 = df_excel.dropna()
data_1

In [ ]:
data_1.shape
#df_excel.shape

(55, 6)

In [ ]:
# options to drop the rows using "how"
data_1 = df_excel.dropna(how = 'any') # drop the row if any single value is null in that row
data_1

In [ ]:
data_1 = df_excel.dropna(how = 'all') # drop the row if all the values are null in that row
data_1

In [ ]:
data_1 = df_excel.dropna(thresh=2) # it Keeps only the rows with at least 2 non-NA values:
data_1

      ID               NAME LOCATION        DEPT   AGE Sport score
0   A001  HARTEJ SINGH ASSI   Mumbai       sales  23.0          56
1   A002  BHAVESH BALDANIYA    Delhi  technology  35.0          57
2   A003                NaN    Delhi  production  22.0          23
3   A004     SHREEKARA BHAT   Indore       sales  34.0         NaN
4   A005        KUNAL BHATT   Mumbai  technology  31.0          56
..   ...                ...      ...         ...   ...         ...
85  L039      SOHAM VASUDEO   Mumbai  technology  36.0          47
86  L040      RITIKA SHETTY       na   marketing  37.0         NaN
87  L041     RUSHABH JADHAV     Pune  production  49.0          68
88  L042     SAMIKSHA SARDA     Pune         NaN  33.0          79
89  L043     YASH CHAUDHARI   Indore       sales  24.0         NaN

[89 rows x 6 columns]

# Reading TSV file with missing values column wise

In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
df_table = pd.read_table(io.BytesIO(upload['Student_Data.tsv']))
df_table

Saving Student_Data.tsv to Student_Data (1).tsv

  Rollno  DAP  PS    WT  IEM
0     A1   12  19  13.0  NaN
1     A2   14  15  12.0  NaN
2     A3   11  14  15.0  NaN
3     A4   17  13   NaN  NaN
4     A5   19  12   NaN  NaN
5     A6   15  11  13.0  NaN
6     A7   17  14  15.0  NaN
7     A8   10  11  13.0  NaN

In [ ]:
# Returns table with false and True values
df = df_table.isnull() # it returns a table of boolean values: "False" if value is correct and "True" if value is NaN
print(df)

   Rollno    DAP     PS     WT   IEM
0   False  False  False  False  True
1   False  False  False  False  True
2   False  False  False  False  True
3   False  False  False   True  True
4   False  False  False   True  True
5   False  False  False  False  True
6   False  False  False  False  True
7   False  False  False  False  True

In [ ]:
# Droping columns with missing values
df_1 = df_table.dropna(axis = "columns") # Drop the columns where at least one element is missing:
df_1

  Rollno  DAP  PS
0     A1   12  19
1     A2   14  15
2     A3   11  14
3     A4   17  13
4     A5   19  12
5     A6   15  11
6     A7   17  14
7     A8   10  11

In [ ]:
df_1 = df_table.dropna(subset=['WT','PS']) # Drop the rows in which columns to look for missing values:
df_1

  Rollno  DAP  PS    WT  IEM
0     A1   12  19  13.0  NaN
1     A2   14  15  12.0  NaN
2     A3   11  14  15.0  NaN
5     A6   15  11  13.0  NaN
6     A7   17  14  15.0  NaN
7     A8   10  11  13.0  NaN

In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
df_table = pd.read_table(io.BytesIO(upload['Student_Data_1.txt']))
df_table

Saving Student_Data_1.txt to Student_Data_1.txt

  Rollno  DAP  PS    WT   IEM
0     A1   12  19  13.0  20.0
1     A2   14  15  12.0   NaN
2     A3   11  14  15.0  12.0
3     A4   17  13   NaN  15.0
4     A5   19  12   NaN   NaN
5     A6   15  11  13.0   NaN
6     A7   17  14  15.0  16.0
7     A8   10  11  13.0   NaN

In [ ]:
df = df_table.isnull() # it returns a table of boolean values: "False" if value is correct and "True" if value is NaN
print(df)

   Rollno    DAP     PS     WT    IEM
0   False  False  False  False  False
1   False  False  False  False   True
2   False  False  False  False  False
3   False  False  False   True  False
4   False  False  False   True   True
5   False  False  False  False   True
6   False  False  False  False  False
7   False  False  False  False   True

In [ ]:
df_table.dropna(inplace=True) # Keeps all the rows with no value as missing 
df_table

  Rollno  DAP  PS    WT   IEM
0     A1   12  19  13.0  20.0
2     A3   11  14  15.0  12.0
6     A7   17  14  15.0  16.0

# Option 1: Filling null values with fillna() in dataframe

In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
df_table = pd.read_table(io.BytesIO(upload['Student_Data_2.txt']))
df_table

Saving Student_Data_2.txt to Student_Data_2.txt

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2   NaN  15.0  12.0   NaN
2     A3  11.0  14.0  15.0  12.0
3     A4  17.0  13.0   NaN  15.0
4     A5  19.0  12.0   NaN   NaN
5     A6  15.0   NaN  13.0   NaN
6     A7  17.0  14.0  15.0  16.0
7     A8  10.0  11.0  13.0   NaN

In [ ]:
df = df_table.isnull() # it returns a table of boolean values: "False" if value is correct and "True" if value is NaN
print(df)

In [ ]:
df1 = df_table.fillna(value = 10) # it fills the table with zero (specified value) in place of True 
print(df1)

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2  10.0  15.0  12.0  10.0
2     A3  11.0  14.0  15.0  12.0
3     A4  17.0  13.0  10.0  15.0
4     A5  19.0  12.0  10.0  10.0
5     A6  15.0  10.0  13.0  10.0
6     A7  17.0  14.0  15.0  16.0
7     A8  10.0  11.0  13.0  10.0

In [ ]:
df = df1.isnull() # it returns a table of boolean values: "False" if value is correct and "True" if value is NaN
print(df)

df1.isnull().sum().sum()

   Rollno    DAP     PS     WT    IEM
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
5   False  False  False  False  False
6   False  False  False  False  False
7   False  False  False  False  False

0

In [ ]:
# Filling null value with previous value in the same column
df1 = df_table.fillna(method = 'pad')  # or df1 = df_table.fillna(method = 'ffill')
print(df1)

In [ ]:
#Filling null value with next value in the same column
df2 = df_table.fillna(method = 'bfill') 
print(df2)

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2  11.0  15.0  12.0  12.0
2     A3  11.0  14.0  15.0  12.0
3     A4  17.0  13.0  13.0  15.0
4     A5  19.0  12.0  13.0  16.0
5     A6  15.0  14.0  13.0  16.0
6     A7  17.0  14.0  15.0  16.0
7     A8  10.0  11.0  13.0   NaN

In [ ]:
# filling null value with value from the earlier column and same row
df3 = df_table.fillna(method = 'pad', axis = 1) 
print(df3)

In [ ]:
# filling null value with value from the next column and same row
df4 = df_table.fillna(method = 'bfill', axis = 1) 
print(df4)

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2  15.0  15.0  12.0   NaN
2     A3  11.0  14.0  15.0  12.0
3     A4  17.0  13.0  15.0  15.0
4     A5  19.0  12.0   NaN   NaN
5     A6  15.0  13.0  13.0   NaN
6     A7  17.0  14.0  15.0  16.0
7     A8  10.0  11.0  13.0   NaN

In [ ]:
# filling specific values in different columns - Need a dictionary
df5 = df_table.fillna({"DAP" : df_table["DAP"].mean(), "PS" : 18, "IEM":10, "WT": 18})
print(df5)

  Rollno        DAP    PS    WT   IEM
0     A1  12.000000  19.0  13.0  20.0
1     A2  14.428571  15.0  12.0  10.0
2     A3  11.000000  14.0  15.0  12.0
3     A4  17.000000  13.0  18.0  15.0
4     A5  19.000000  12.0  18.0  10.0
5     A6  15.000000  18.0  13.0  10.0
6     A7  17.000000  14.0  15.0  16.0
7     A8  10.000000  11.0  13.0  10.0

In [ ]:
# Filling all missing values with statstical values of the specified column - mean()
df7 = df_table.fillna(value = df_table["DAP"].mean())
print(df7)

  Rollno        DAP         PS         WT        IEM
0     A1  12.000000  19.000000  13.000000  20.000000
1     A2  14.428571  15.000000  12.000000  14.428571
2     A3  11.000000  14.000000  15.000000  12.000000
3     A4  17.000000  13.000000  14.428571  15.000000
4     A5  19.000000  12.000000  14.428571  14.428571
5     A6  15.000000  14.428571  13.000000  14.428571
6     A7  17.000000  14.000000  15.000000  16.000000
7     A8  10.000000  11.000000  13.000000  14.428571

In [ ]:
df8 = df_table.fillna(value = df_table["DAP"].max())
print(df8)

In [ ]:
df9 = df_table.fillna(value = df_table["DAP"].min())
print(df9)

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2  10.0  15.0  12.0  10.0
2     A3  11.0  14.0  15.0  12.0
3     A4  17.0  13.0  10.0  15.0
4     A5  19.0  12.0  10.0  10.0
5     A6  15.0  10.0  13.0  10.0
6     A7  17.0  14.0  15.0  16.0
7     A8  10.0  11.0  13.0  10.0

In [ ]:
# Replacing all the same specific values of dataframe by specified value used as parameter
#df10 = df_table.replace(to_replace = 14, value = 20, inplace = True)
#print(df10)
#df_table
import numpy as np
df12 = df_table.replace(to_replace = np.NaN, value = 20, inplace = True)
df_table

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2  20.0  15.0  12.0  20.0
2     A3  11.0  20.0  15.0  12.0
3     A4  17.0  13.0  20.0  15.0
4     A5  19.0  12.0  20.0  20.0
5     A6  15.0  20.0  13.0  20.0
6     A7  17.0  20.0  15.0  16.0
7     A8  10.0  11.0  13.0  20.0

In [ ]:
# replacing null values with numpy 
import numpy as np
df11 = df_table.replace(to_replace = np.NaN, value = 20)
print(df11)

# Handling null values when dataframe created from unstructured text file

In [ ]:
# reading plane text file from the google drive, these commands mount the file 
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
fn = "/content/gdrive/My Drive/Data Analysis with Python/faculty_data2.txt"
#fn1 = "/content/gdrive/My Drive/Data Analysis with Python/faculty_data1.txt"

In [ ]:
# reading a file with read() function
file1 = open(fn,"r")
data = file1.read()
print(data)

Dr. Benjamin
Associate Professor
Computer Engineering
PhD Engineering
12
B204, Apartment, Thane-58.
Dr. Harry
Associate Professor
Electronics Engineering
PhD Engineering
5
A-1001, XYZ Apartment, Mumbai- 56.
Dr. Tom
Professor
CE
PhD Engineering
20

Dr. Sabu
Associate Professor
Data Science
PhD Data Science
11
002, ABC CHS Ltd., Vile Parle, Mumbai.
Dr. Ajay
Associate Professor
Maths
PhD Maths

C-103, Abhay CHS Ltd., Andheri(w) Mumbai-56.
Prof. Aamir
Assistant Professor

MTech CE
8
C-403, Aman CHS Ltd., Goregao, Mumbai-56.
Prof. Vicky

Extc
PhD Computer
NaN
B-1001, Apartment, Borivali, Mumbai.

In [ ]:
# converting text file to dictionary as per data records.
file1 = open(fn,"r")
fd2 = file1.readlines()
print(fd2)
i=0
ind = 0
faculty_dict = {}
while(i<6): 
  faculty_list = []
  for j in range(i, len(fd2), 6):
    faculty_list.append(fd2[j].strip())
  faculty_dict.update({ind : faculty_list})
  i+=1
  ind+=1
    #faculty_data.update({i : })

print(faculty_dict)

['Dr. Benjamin \n', 'Associate Professor\n', 'Computer Engineering \n', 'PhD Engineering\n', '12\n', 'B204, Apartment, Thane-58.\n', 'Dr. Harry \n', 'Associate Professor\n', 'Electronics Engineering \n', 'PhD Engineering\n', '5\n', 'A-1001, XYZ Apartment, Mumbai- 56.\n', 'Dr. Tom \n', 'Professor\n', 'CE\n', 'PhD Engineering\n', '20\n', '\n', 'Dr. Sabu \n', 'Associate Professor\n', 'Data Science\n', 'PhD Data Science\n', '11\n', '002, ABC CHS Ltd., Vile Parle, Mumbai.\n', 'Dr. Ajay \n', 'Associate Professor\n', 'Maths\n', 'PhD Maths\n', '\n', 'C-103, Abhay CHS Ltd., Andheri(w) Mumbai-56.\n', 'Prof. Aamir\n', 'Assistant Professor\n', '\n', 'MTech CE\n', '8\n', 'C-403, Aman CHS Ltd., Goregao, Mumbai-56.\n', 'Prof. Vicky\n', '\n', 'Extc\n', 'PhD Computer\n', 'NaN\n', 'B-1001, Apartment, Borivali, Mumbai.']
{0: ['Dr. Benjamin', 'Dr. Harry', 'Dr. Tom', 'Dr. Sabu', 'Dr. Ajay', 'Prof. Aamir', 'Prof. Vicky'], 1: ['Associate Professor', 'Associate Professor', 'Professor', 'Associate Professor', 'Associate Professor', 'Assistant Professor', ''], 2: ['Computer Engineering', 'Electronics Engineering', 'CE', 'Data Science', 'Maths', '', 'Extc'], 3: ['PhD Engineering', 'PhD Engineering', 'PhD Engineering', 'PhD Data Science', 'PhD Maths', 'MTech CE', 'PhD Computer'], 4: ['12', '5', '20', '11', '', '8', 'NaN'], 5: ['B204, Apartment, Thane-58.', 'A-1001, XYZ Apartment, Mumbai- 56.', '', '002, ABC CHS Ltd., Vile Parle, Mumbai.', 'C-103, Abhay CHS Ltd., Andheri(w) Mumbai-56.', 'C-403, Aman CHS Ltd., Goregao, Mumbai-56.', 'B-1001, Apartment, Borivali, Mumbai.']}

In [ ]:
import pandas as pd1
faculty_data = pd1.DataFrame(faculty_dict)
faculty_data

,0,1,2,3,4,5
0,Dr. Benjamin,Associate Professor,Computer Engineering,PhD Engineering,12,"B204, Apartment, Thane-58."
1,Dr. Harry,Associate Professor,Electronics Engineering,PhD Engineering,5,"A-1001, XYZ Apartment, Mumbai- 56."
2,Dr. Tom,Professor,CE,PhD Engineering,20,
3,Dr. Sabu,Associate Professor,Data Science,PhD Data Science,11,"002, ABC CHS Ltd., Vile Parle, Mumbai."
4,Dr. Ajay,Associate Professor,Maths,PhD Maths,,"C-103, Abhay CHS Ltd., Andheri(w) Mumbai-56."
5,Prof. Aamir,Assistant Professor,,MTech CE,8,"C-403, Aman CHS Ltd., Goregao, Mumbai-56."
6,Prof. Vicky,,Extc,PhD Computer,NaN,"B-1001, Apartment, Borivali, Mumbai."

In [ ]:
faculty_data_new = faculty_data.rename(columns = {0 :"Name", 1:"Designation", 2:"Department", 3:"Education",4:"YoE", 5: "Address"})
faculty_data_new

,Name,Designation,Department,Education,YoE,Address
0,Dr. Benjamin,Associate Professor,Computer Engineering,PhD Engineering,12,"B204, Apartment, Thane-58."
1,Dr. Harry,Associate Professor,Electronics Engineering,PhD Engineering,5,"A-1001, XYZ Apartment, Mumbai- 56."
2,Dr. Tom,Professor,CE,PhD Engineering,20,
3,Dr. Sabu,Associate Professor,Data Science,PhD Data Science,11,"002, ABC CHS Ltd., Vile Parle, Mumbai."
4,Dr. Ajay,Associate Professor,Maths,PhD Maths,,"C-103, Abhay CHS Ltd., Andheri(w) Mumbai-56."
5,Prof. Aamir,Assistant Professor,,MTech CE,8,"C-403, Aman CHS Ltd., Goregao, Mumbai-56."
6,Prof. Vicky,,Extc,PhD Computer,NaN,"B-1001, Apartment, Borivali, Mumbai."

#Replacing values in the dataframe with desired values

In [ ]:

import numpy as np
faculty_data_new['Designation'] = faculty_data_new['Designation'].replace("", np.nan)
faculty_data_new
faculty_data_new['YoE'] = faculty_data_new['YoE'].replace("", np.nan)
faculty_data_new
faculty_data_new['Address'] = faculty_data_new['Address'].replace("", "Borivali")
faculty_data_new
faculty_data_new['Department'] = faculty_data_new['Department'].replace("CE", "Computer Engineering")
faculty_data_new

In [ ]:
# making entire row as NaN for the spacified missing value from the column of dataframe 
faculty_data_new.loc[faculty_data_new['Department'] == ""] = np.nan   
faculty_data_new

,Name,Designation,Department,Education,YoE,Address
0,Dr. Benjamin,Associate Professor,Computer Engineering,PhD Engineering,12,"B204, Apartment, Thane-58."
1,Dr. Harry,Associate Professor,Electronics Engineering,PhD Engineering,5,"A-1001, XYZ Apartment, Mumbai- 56."
2,Dr. Tom,Professor,CE,PhD Engineering,20,
3,Dr. Sabu,Associate Professor,Data Science,PhD Data Science,11,"002, ABC CHS Ltd., Vile Parle, Mumbai."
4,Dr. Ajay,Associate Professor,Maths,PhD Maths,,"C-103, Abhay CHS Ltd., Andheri(w) Mumbai-56."
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Prof. Vicky,,Extc,PhD Computer,NaN,"B-1001, Apartment, Borivali, Mumbai."

# Exporting data in different file formats - excel, csv, text

In [ ]:
# reading data from sklearn 

from sklearn import datasets
import pandas as pd
iris = datasets.load_iris()
print(iris)

print(list(iris.keys()))

print(iris['data'])
print(iris['target'])
print(iris['DESCR'])

print(iris['data'].shape)

In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
#df_table = pd.read_csv(io.BytesIO(upload['Student_Data_2.txt']),sep= "\t")
#df_table
list_m = ['None','NONE','Missing']
df_table = pd.read_csv(io.BytesIO(upload['Student_Data_2.txt']),sep= "\t", na_values = list_m)
df_table

Saving Student_Data_2.txt to Student_Data_2 (1).txt

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2   NaN  15.0  12.0   NaN
2     A3  11.0  14.0  15.0  12.0
3     A4  17.0  13.0   NaN  15.0
4     A5  19.0  12.0   NaN  13.0
5     A6  15.0   NaN  13.0   NaN
6     A7   NaN  14.0  15.0  16.0
7     A8  10.0  11.0  13.0   NaN

In [ ]:
df1 = df_table.fillna(method = 'pad')  
print(df1)

df1.info()
df1.describe()
df1.columns
df1.dtypes

  Rollno   DAP    PS    WT   IEM
0     A1  12.0  19.0  13.0  20.0
1     A2  12.0  15.0  12.0  20.0
2     A3  11.0  14.0  15.0  12.0
3     A4  17.0  13.0  15.0  15.0
4     A5  19.0  12.0  15.0  13.0
5     A6  15.0  12.0  13.0  13.0
6     A7  15.0  14.0  15.0  16.0
7     A8  10.0  11.0  13.0  16.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rollno  8 non-null      object
 1   DAP     8 non-null      float64
 2   PS      8 non-null      float64
 3   WT      8 non-null      float64
 4   IEM     8 non-null      float64
dtypes: float64(4), object(1)
memory usage: 448.0+ bytes

Rollno     object
DAP       float64
PS        float64
WT        float64
IEM       float64
dtype: object

In [ ]:
df1["Total"] = df1["DAP"] + df1["PS"] + df1["WT"] + df1["IEM"]
df1

  Rollno   DAP    PS    WT   IEM  Total
0     A1  12.0  19.0  13.0  20.0   64.0
1     A2  12.0  15.0  12.0  20.0   59.0
2     A3  11.0  14.0  15.0  12.0   52.0
3     A4  17.0  13.0  15.0  15.0   60.0
4     A5  19.0  12.0  15.0  13.0   59.0
5     A6  15.0  12.0  13.0  13.0   53.0
6     A7  15.0  14.0  15.0  16.0   60.0
7     A8  10.0  11.0  13.0  16.0   50.0

In [ ]:
# Exporting dataframe to excel file
from google.colab import files
 

#df1.to_excel("E:\\file_name.xlsx")
#files.download('E:\\file_name.xlsx')

df1.to_excel("E:\\file_name_1.xlsx",index = False) # do not include index
files.download('E:\\file_name_1.xlsx')
#df1.to_csv("E:\\file_name_1.csv",index = False)
#files.download('E:\\file_name_1.csv')
df1.to_csv("E:\\file_name_2.txt",index = False,sep = "\t")
files.download('E:\\file_name_2.txt')
#df1.to_table("E:\\file_name_3.txt",index = False,sep = "\t")
#files.download('E:\\file_name.xlsx')

# Reading values from file with multiple null value options

In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
df_excel = pd.read_excel(io.BytesIO(upload['Master_data_excel.xlsx']))
df_excel

In [ ]:
df_excel['LOCATION'].unique()

array(['Mumbai', 'Delhi', 'Indore', 'Pune', 'Nagpur', 'Hydrabad', nan,
       'None', 'na'], dtype=object)

In [ ]:
import numpy as np
list_null = ['n/a','na','None',np.nan]
df1 = pd.read_excel(io.BytesIO(upload['Master_data_excel.xlsx']), na_values = list_null)
df1

In [ ]:
from google.colab import files
upload = files.upload()
import io
import pandas as pd
import numpy as np
list_null = ['n/a','na','None',np.nan,'NONE']
df1 = pd.read_csv(io.BytesIO(upload['Master_data_missing.csv']), na_values = list_null)
df1