In [ ]:
from google.colab import files

# THIS FUNCTION WILL CALL OPEN BROWSER
uploaded = files.upload()

Saving Student_Data_2.txt to Student_Data_2.txt

In [ ]:
import pandas as panda

# MAKING A DATA FRAME USING PANDAS :)

test = panda.read_csv('Cars_data.csv')

li = panda.DataFrame([[1,2,3],['king', 'queen', 'jack']])
li = panda.DataFrame((5,6,7),(9,10,11))
sda = {1: 'king'}
data = {'name': ['nick', 'david', 'joe', 'ross'],
        'age': ['5', '10', '7', '6']}

# THIS ONE WILL GIVE ERROR SINCE DATA FRAME CANNOT CONTAIN SCALAR VALUES WHIC
# SINGLE VALUES :( THUS WE NEED TO CREATE A MULTIPLE VALUES AS VALUES FOR DICTIONARY
 
# li = panda.DataFrame.from_dict(sda)

# THIS ONE WILL WORKD

li = panda.DataFrame.from_dict(data)

sda = (1,2,3)


# DATA SLICING IN PANDAS WORK AS WELL YOU CAN GIVE COLUMN NAMES :()
li = panda.DataFrame(sda[1:], columns=["king"])

li

   king
0     2
1     3

# GETTING UNFORMATTED TEXT FILE :)

In [ ]:
# faculty_data.txt

# THIS WORKS BUT DOES NOT GIVE PROPER RESUTL
uft = panda.read_table('faculty_data.txt')
uft

# SAD NEWS BRATTE WE CAN't TRANSFROM UNFROMATTED DIRCTLY :_)
# AFTER ANALYSING THE FILE I CAN OBSERVE THAT AFTER 4 ROW NEW ENTRY IS INSERTED
# SO GOING TO DO THAT

fil = open('faculty_data.txt', 'r')
sad = fil.readlines()
print(len(sad))
fd1 = []
fd2 = []
fd3 = []
fd4 = []
fd5 = []
fd6 = []
fd7 = []

for i in range(0, 7):
  print(i)
  fd1.append(sad[i])
  
for i in range(7, 15):
  print(i)
  fd2.append(sad[i])

for i in range(14, 22):
  print(i)
  fd3.append(sad[i])

for i in range(21, 29):
  print(i)
  fd4.append(sad[i])

for i in range(28, 37):
  print(i)
  fd5.append(sad[i])

for i in range(36, 42):
  print(i)
  fd6.append(sad[i])

low = ['name', 'desig', 'branch', 'qual', 'exp', 'addr']
fd = dict(zip(low, zip(fd1,fd2,fd3,fd4,fd5,fd6)))
print(fd)

faculty_data = panda.DataFrame(fd)
print(faculty_data)

In [ ]:
test.info() # META DATA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
print(test.size)
print(test.shape)
print(test.info())
print(test.info)
print(test.dtypes)

384
(32, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB
None
<bound method DataFrame.info of                   model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2  >
model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [ ]:
# PRINT LAST VALUES

test.tail(5)

# PRINT TOP VALUES

test.head(10)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [ ]:
df = panda.read_excel('Master_data_excel.xlsx')

#Will reutrn True if any value is Missin by displaying all data with true and afalse

# WILL RETURN COLS and the missing values

dfa = df.isnull().sum()

# WILL RETURN thE TOTAL MISSING VALUES

dfl = df.isnull().sum().sum()

# GETTING ALL MISSING VALUES COLUMN WISE thats y we use (axis)

dfd = df[df.isnull().any(axis=1)]

# DROP HE Row IF any single value is present
temp1 = df
temp1 = temp1.dropna(how = 'any')

# DROP the Row IF all value are not  present 
temp1 = df
print(temp1)
temp1 = temp1.dropna(how = 'all')
print(temp1)

# DROP the Row IF all value are not  present 
temp1 = df
temp1 = temp1.dropna(how = 'all')

      ID               NAME LOCATION        DEPT   AGE Sport score
0   A001  HARTEJ SINGH ASSI   Mumbai       sales  23.0          56
1   A002  BHAVESH BALDANIYA    Delhi  technology  35.0          57
2   A003                NaN    Delhi  production  22.0          23
3   A004     SHREEKARA BHAT   Indore       sales  34.0         NaN
4   A005        KUNAL BHATT   Mumbai  technology  31.0          56
..   ...                ...      ...         ...   ...         ...
85  L039      SOHAM VASUDEO   Mumbai  technology  36.0          47
86  L040      RITIKA SHETTY       na   marketing  37.0         NaN
87  L041     RUSHABH JADHAV     Pune  production  49.0          68
88  L042     SAMIKSHA SARDA     Pune         NaN  33.0          79
89  L043     YASH CHAUDHARI   Indore       sales  24.0         NaN

[90 rows x 6 columns]
      ID               NAME LOCATION        DEPT   AGE Sport score
0   A001  HARTEJ SINGH ASSI   Mumbai       sales  23.0          56
1   A002  BHAVESH BALDANIYA    Delhi  technology  35.0          57
2   A003                NaN    Delhi  production  22.0          23
3   A004     SHREEKARA BHAT   Indore       sales  34.0         NaN
4   A005        KUNAL BHATT   Mumbai  technology  31.0          56
..   ...                ...      ...         ...   ...         ...
85  L039      SOHAM VASUDEO   Mumbai  technology  36.0          47
86  L040      RITIKA SHETTY       na   marketing  37.0         NaN
87  L041     RUSHABH JADHAV     Pune  production  49.0          68
88  L042     SAMIKSHA SARDA     Pune         NaN  33.0          79
89  L043     YASH CHAUDHARI   Indore       sales  24.0         NaN

[89 rows x 6 columns]

In [ ]:
# FILLING NULLL DATA
import io
from google.colab import files
upload = files.upload()
df = panda.read_table('Student_Data_2.txt')
df_table = panda.read_table(io.BytesIO(upload['Student_Data_2.txt']))

Saving Student_Data_2.txt to Student_Data_2 (1).txt

In [ ]:
import numpy as np
df  = df_table.fillna(value = 10)

# FILL SAME VALUE OF PREVIOUS OF SAME COLUMN WE USE PAD

df = df_table.fillna(method="pad")


# FILL SAME VALUE OF NEXT SAME COLUMN WE USE PAD
 
df = df_table.fillna(method="bfill")

# FILL SAME VALUE OF PREVIOUS OF COLUMB BUT SAME ROW WE USE PAD

df = df_table.fillna(method="pad", axis=1)

# FILL SAME VALUE OF NEXT COLUMB BUT SAME ROW WE USE PAD

df = df_table.fillna(method="bfill", axis=1)
print(df_table)
df

# TRYING SOMEHINTG

df11 = df_table.replace(to_replace = [np.NaN, 'MISSING', 'Missing', 'None', 'NONE'], value = 20)
df11

  Rollno   DAP    PS    WT      IEM
0     A1    12  19.0    13       20
1     A2   NaN  15.0    12      NaN
2     A3    11  14.0    15       12
3     A4    17  13.0  None       15
4     A5    19  12.0   NaN       13
5     A6    15   NaN    13  Missing
6     A7  NONE  14.0    15       16
7     A8    10  11.0    13      NaN

  Rollno DAP    PS  WT IEM
0     A1  12  19.0  13  20
1     A2  20  15.0  12  20
2     A3  11  14.0  15  12
3     A4  17  13.0  20  15
4     A5  19  12.0  20  13
5     A6  15  20.0  13  20
6     A7  20  14.0  15  16
7     A8  10  11.0  13  20